{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.username }}, comment this pls :)</h1>
    <form action="" method="post">
        {{ form1.hidden_tag() }}
        <p>
            {{ form1.post(cols=32, rows=4) }}<br>
            {% for error in form1.post.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form1.submit() }}</p>
    </form>
    {% for post in posts %}
      <p>
      {{ post.author.username }} says: <b>{{ post.body }}</b>
      </p>
  {% for comm in comments %}
      <p>Comment:<b>{{ comm.comm_body }}</b></p>
  {% endfor %}
      <form action="" method="post">
          {{ form2.hidden_tag() }}
          <p>
              {{ form2.comm(cols=32, rows=2) }}<br>
              {% for error in form2.comm.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
          </p>
          <p>{{ form1.submit() }}</p>
    {% endfor %}
{% endblock %}
